terraform.tfvars
# Terraform state
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Local .terraform directories
.terraform/

# Terraform lock files (optional)
.terraform.lock.hcl

tf_key 
tf_key.pub
README.md

# Local .terraform directories need to ignore
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.lock.hcl
.terraform.tfstate.lock.info

.terraformrc
terraform.rc

*.pyc